<form class="example-form">
    <h1><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Your Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
      </mat-form-field></h1>
    <h1>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput placeholder="Enter Your Age" [(ngModel)]="age" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </h1>

      <h1>
        <mat-radio-group class="example-full-width"  aria-label="Gender" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">
            <mat-label>Gender</mat-label>
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </h1>
    
    <mat-form-field class="example-full-width" appearance="outline"  >
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Enter Your Address" [(ngModel)]="address" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
</form>
<button mat-flat-button class="buttons" color="warn" (click)="submit()">Submit</button>


<!-- <h3>{{selectedname}}</h3>
<h3>{{selectedage}}</h3>
<h3>{{selecteddob}}</h3>
<h3>{{selectedgender}}</h3>
<h3>{{selectedemail}}</h3>
<h3>{{selectedaddress}}</h3> -->



<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>DOB</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Siraji</td>
      <td>19</td>
      <td>20</td>
      <td>male</td>
      <td>siraji@gmail.com</td>
      <td>1/81</td>

    </tr>
  </tbody>

</table> -->

<div class="container" *ngIf="selectedArr.length != 0">
  <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let data of selectedArr;let i=index" >
          <td>{{data.Name}}</td>
          <td>{{data.Age}}</td>
          <td>{{data.Gender}}</td>
          <td>{{data.Address}}</td>
        </tr>
        <tbody>
    </table>
  </div>
  </div>